.RemoteWorkBlock {
    background-color: cornsilk;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.RemoteWorkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid;
}

.title {
    text-align: center;
}

.btn {
    width: 100px;
    height: 30px;
}