.skillsBlock {
    background-color: aquamarine;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    background-color: cornsilk;
}
