.skillsBlock {
    background-color: aquamarine;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 100px;
    text-align: center;
    background-color: cornsilk;
}

@media (max-width: 700px) {
    .skills {
        display: block;
        margin: 0 auto;
    }
}