.work {
    border: 1px solid;
    max-width: 350px;
    margin-bottom: 10px;
}

.img {
   max-width: 350px;
    height: 200px;
    background-color: #ffc494;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 150px;
    height: 30px;
    display: block;
    margin: 50px auto 0;

}

.btn:hover {
    background-color: #9a9999;
}


.title {
    background-color: #a2f6f6;
    text-align: center;
}

.description {
    background-color: khaki;
    text-align: center;
}